<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="_ak1r">
      <div tabindex="-1" class="_ak1l">
        <div class="_als4">
          <button
            class="xexx8yu x4uap5 x18d9i69 xkhd6sd xjb2p0i xk390pu x1ypdohk xjbqb8w x972fbf xcfux6l x1qhh985 xm0m39n xht95ry"
            tabindex="0"
            data-tab="10"
            type="button"
          >
            <span data-icon="smiley" class=""
              ><svg
                viewBox="0 0 24 24"
                height="24"
                width="24"
                preserveAspectRatio="xMidYMid meet"
                class=""
                version="1.1"
                x="0px"
                y="0px"
                enable-background="new 0 0 24 24"
              >
                <title>smiley</title>
                <path
                  fill="currentColor"
                  d="M9.153,11.603c0.795,0,1.439-0.879,1.439-1.962S9.948,7.679,9.153,7.679 S7.714,8.558,7.714,9.641S8.358,11.603,9.153,11.603z M5.949,12.965c-0.026-0.307-0.131,5.218,6.063,5.551 c6.066-0.25,6.066-5.551,6.066-5.551C12,14.381,5.949,12.965,5.949,12.965z M17.312,14.073c0,0-0.669,1.959-5.051,1.959 c-3.505,0-5.388-1.164-5.607-1.959C6.654,14.073,12.566,15.128,17.312,14.073z M11.804,1.011c-6.195,0-10.826,5.022-10.826,11.217 s4.826,10.761,11.021,10.761S23.02,18.423,23.02,12.228C23.021,6.033,17.999,1.011,11.804,1.011z M12,21.354 c-5.273,0-9.381-3.886-9.381-9.159s3.942-9.548,9.215-9.548s9.548,4.275,9.548,9.548C21.381,17.467,17.273,21.354,12,21.354z  M15.108,11.603c0.795,0,1.439-0.879,1.439-1.962s-0.644-1.962-1.439-1.962s-1.439,0.879-1.439,1.962S14.313,11.603,15.108,11.603z"
                ></path></svg
            ></span></button
          ><span class=""></span>
        </div>
        <div class="x1n2onr6 xh8yej3 lexical-rich-text-input">
          <div
            class="x1hx0egp x6ikm8r x1odjw0f x1k6rcq7 x6prxxf"
            contenteditable="true"
            role="textbox"
            spellcheck="true"
            title="Type a message"
            tabindex="10"
            data-tab="10"
            data-lexical-editor="true"
            style="
              max-height: 11.76em;
              min-height: 1.47em;
              user-select: text;
              white-space: pre-wrap;
              word-break: break-word;
            "
          >
            <p
              class="selectable-text copyable-text x15bjb6t x1n2onr6"
              style="text-indent: 0px; margin-top: 0px; margin-bottom: 0px"
              dir="ltr"
            >
              <span
                class="selectable-text copyable-text"
                data-lexical-text="true"
                >hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhdhdhdhdhddhdhddhdhhdhdhdhdhdhdhddddddddddddddddddddjdhdhdhdhdhdhdhdhdhhhdhdhhhhdhdhhhh</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="_ak1t _ak1u">
        <button
          data-tab="11"
          aria-label="Send"
          class="x1c4vz4f x2lah0s xdl72j9 xfect85 x1iy03kw x1lfpgzf"
        >
          <span data-icon="send" class=""
            ><svg
              viewBox="0 0 24 24"
              height="24"
              width="24"
              preserveAspectRatio="xMidYMid meet"
              class=""
              version="1.1"
              x="0px"
              y="0px"
              enable-background="new 0 0 24 24"
            >
              <title>send</title>
              <path
                fill="currentColor"
                d="M1.101,21.757L23.8,12.028L1.101,2.3l0.011,7.912l13.623,1.816L1.112,13.845 L1.101,21.757z"
              ></path></svg
          ></span>
        </button>
      </div>
    </div>
  </body>
</html>
