*,
::before,
::afte {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  user-select: none;
}

html {
  overflow: hidden;
  font-size: 16px;
}

@media only screen and (max-width: 300px) {
  html {
    font-size: 14px;
  }
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: black;
  height: 0px;
}

*::-webkit-scrollbar-thumb {
  border: 7px solid transparent;
  border-radius: 9999px;
  height: 5px;
  background-color: grey;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: white;
} 

body {
  width: 100%;
  height: 100dvh;
  min-height: 100dvh;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}

input {
  padding: 10px;
  background-color: transparent;
}

input:focus-visible {
  outline: none;
}

dialog {
  background-color: blue;
  bottom: 0;
  top: 0;
  transform: translate(-50%, 50%);
  right: 0;
}

dialog::backdrop {
  background-color: red;
}

progress {
  accent-color: unset;
  accent-color: red;
  border: 2px solid red;
  color: red;
}

.color {
  background-color: #4d003cb5;
  background-color: rgba(200, 71, 0, 0.71);
}

iframe {
  display: none;
}


input:autofill {
  
  border: 3px solid darkorange;
  background-color: red !important;
  box-shadow: none !important ;
}


/* .slick-arrow{
  background-color: red !important;
} */
.slick-next{
  right: 5px !important;
}
.slick-prev{
  left: 5px !important;
  z-index: 100;
  
}


