input[type="range"] {
    -webkit-appearance: none;

    width: 100%;
    height: 2px;
    background: transparent;
    border-radius: 5px;
    
 
 }
  
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
   
    border-radius: 50%;
    width: 2px;
    height: 2px;
   
    cursor: ew-resize;
    background-color: red;
  box-shadow: 0 0 10px red;
    transition: background .3s ease-in-out;
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;

    border: none;
 
  }
  input[type=range]::-webkit-slider  {
    -webkit-appearance: none;

    border: none;
 
  }